@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.ghost-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: ghost-fade 15s infinite ease-in-out;
}

@keyframes ghost-fade {
  0%, 100% { opacity: 0; transform: scale(1); }
  25% { opacity: 0.4; transform: scale(1.05); }
  50% { opacity: 0; transform: scale(1); }
  75% { opacity: 0.4; transform: scale(1.05); }
}
